<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <configSections>
    <sectionGroup name="system.webServer">
      <sectionGroup name="rewrite">
        <section name="rewriteMaps" overrideModeDefault="Allow" />
        <section name="rules" overrideModeDefault="Allow" />
      </sectionGroup>
    </sectionGroup>
  </configSections>

  <system.webServer>

    <security></security>

    <directoryBrowse enabled="false" />

    <caching>
      <profiles>
        <add extension=".html" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="14:00:00:00" />
      </profiles>
    </caching>

    <defaultDocument>
      <files>
        <remove value="index.html" />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <rewrite>
      <rules>
        <rule name="empty-root-index" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="wwwroot/index.html" />
        </rule>
      </rules>
    </rewrite>
  
  </system.webServer>

</configuration>